<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TipsController.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3324695093290EEF012201275DF8F392F15F9445</string>
				<key>dateExpires</key>
				<string>2/6/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7K7958JA8K.com.tipscontroller.TipsControllerIOS</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7K7958JA8K</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>7K7958JA8K.com.tipscontroller.TipsControllerIOS</string>
				</array>
			</dict>
			<key>name</key>
			<string>TipsController.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ae07cf3c-c0c7-4317-9c48-49c1105ba56e</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.tipscontroller.TipsControllerIOS</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7K7958JA8K</string>
				<key>name</key>
				<string>JORG Peters</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
